<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h3>Index</h3>
    {% if not user %}
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
    {% endif %}

    <p>{{ user }}</p>

    {% if user %}
        <a href="/logout">Log out</a>
        <br>
        <br>
        <form action="/save_avatar" method="post" accept-charset="utf-8" enctype="multipart/form-data">
            <label for="avatar">Avatar</label>
            <input id="avatar" name="avatar" type="file" value="">
            <input type="submit" value="Submit">
        </form>
    {% endif %}
</body>
</html>