<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{{ url('static', filename='style.css') }}">
</head>
<body>
    <h3>Index</h3>
    {% if not current_user %}
    <a href="{{ url('login') }}">Login</a>
    <a href="{{ url('signup') }}">Sign Up</a>
    {% endif %}

    <pre>Data: {{ current_user }}</pre>
    <pre>Is anonymous? {{ is_anonymous }}</pre>

    {% if current_user %}
        <a href="{{ url('friends') }}">Friends</a>
        <a href="{{ url('messages') }}">My messages</a>
        <a href="{{ url('logout') }}">Log out</a>
        <br>
        <br>
        <form action="{{ url('save_avatar') }}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
            <label for="avatar">Avatar</label>
            <input id="avatar" name="avatar" type="file" value="">
            <input type="submit" value="Submit">
        </form>

        {% if current_user.avatar_url %}
            <img height="100" src="{{ url('static', filename=current_user.avatar_url) }}">
        {% endif %}

        <form action="{{ url('add_post') }}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
            <label for="message">Add New Post</label>
            <input id="message" name="message" type="text" value="">
            <input type="submit" value="Send">
        </form>

        <h4>Posts: </h4>
        <ul>
            {% for post in posts %}
                <li>{{ post.message }} | {{ post.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</li>
            {% endfor %}
        </ul>

        <h4>Friends: </h4>
        <ul>
        {% for friend in friends %}
            <li>{{ friend.first_name }} {{ friend.last_name }}</li>
            <form action="{{ url('send_message') }}" method="post">
                <label for="message_text">Send message</label>
                <input id="message_text" name="message_text" type="text" value="">
                <input type="hidden" name="to_user" value="{{ friend._id }}">
                <button type="submit">Send...</button>
            </form>
        {% endfor %}
        </ul>
    {% endif %}
</body>
</html>